.app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  background: #f5f7fa;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 200px;
}

.sidebar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  background: #fff;
  width: 325px;
  height: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 17, 25, 0.2);
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.4);
}

.appbar-title {
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.appbar-title a {
  text-decoration: none;
  color: #fff;
}

.mobile-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 0 10px 10px 0;
  z-index: 3;
  background-color: white;
}

@media (min-width: 769px) {
  .sidebar {
    display: block;
    position: relative;
    width: 375px;
  }

  .mobile-navbar {
    display: none;
  }
}

.deck {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  z-index: 1;
}

.deck-container {
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

.deck-actions {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  bottom: 80px;
  width: 100%;
}

.deck-actions button {
  background: white;
  margin-right: 20px;
  box-shadow: 0 4px 9px 0 rgba(213, 218, 224, 0.3);
}

@media (min-width: 769px) {
  .deck-container {
    padding-top: 0px;
  }
}

.deck-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.deck-loader.error-message {
  max-width: 600px;
  text-align: center;
  margin: auto;
}

.deck-loader p {
  line-height: 1.4;
}

.deck-loader svg {
  display: block;
  stroke: rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 100px;
}

.deck-loader p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.card {
  position: relative;
  height: 450px;
  width: 100%;
  max-width: 370px;
  background-size: cover;
  background-position: center center;
  border-radius: 4px;
  /*box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.2);*/
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  height: 50%;
  border-radius: 4px;
}

.card-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: #fff;
  padding: 15px;
  font-size: 16px;
}

.card-details h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}

.card-details p {
  margin-top: 5px;
  margin-bottom: 0;
}

.review-stars {
  margin-bottom: 10px;
}

.review-stars a {
  color: inherit;
  text-decoration: none;
}

.review-stars span {
  vertical-align: middle;
  margin-right: 5px;
}

.review-stars svg {
  vertical-align: top;
}

.map-actions {
  margin-top: 10px;
}

.map-actions a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.map-actions svg {
  vertical-align: middle;
}

.place-detail {
  padding: 100px 30px;
}

@media (min-width: 769px) {
  .place-detail {
    padding-top: 50px;
  }
}

.place-detail-card .review-stars svg {
  fill: #f8ce0b;
}

.place-detail-card th {
  padding-bottom: 10px;
}

.success {
  color: #4caf50;
}

.danger {
  color: #f44336;
}

.stamp-nope {
  position: absolute;
  z-index: 3;
  top: 40px;
  right: 30px;
  color: #f44336;
  border: 3px solid #f44336;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 1px;
  transform: rotateZ(10deg);
}

.stamp-like {
  position: absolute;
  z-index: 3;
  top: 40px;
  left: 30px;
  color: #4caf50;
  border: 3px solid #4caf50;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 1px;
  transform: rotateZ(-10deg);
}
